body{

font-family:Arial;
padding:30px;

background-image:url("https://images.unsplash.com/photo-1490750967868-88aa4486c946");

background-size:cover;
background-attachment:fixed;

}

h1{
color:#b30059;
}

input,textarea{

padding:8px;
margin:5px;

border-radius:8px;
border:1px solid pink;

}

button{

background:#ff66a3;
color:white;

border:none;
padding:8px 12px;

border-radius:8px;
cursor:pointer;

}

button:hover{
background:#ff3385;
}

#notes{

display:grid;
grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
gap:20px;

margin-top:20px;

}

.note{

backdrop-filter:blur(10px);

background:rgba(255,255,255,0.6);

border-radius:15px;

padding:15px;

box-shadow:0 4px 15px rgba(0,0,0,0.2);

}

.note h3{
color:#cc0066;
}

.dark{

background:#111;
color:white;

}

.pin{

background:#ffd6e7;

}